<div class="hmtop">
    <!--顶部导航条Start -->
    <div class="am-container header">
        <ul class="message-l">
            <li class="topMessage">
                <div class="menu-hd">
                    <a href="/Member/Login" target="_top" class="h">亲，请登录</a>
                    <a href="/Member/Register" target="_top">免费注册</a>
                   
                </div>
            </li>
        </ul>
        <ul class="message-r">
            <li class="topMessage home">
                <div class="menu-hd"><a href="#" target="_top" class="h">商城首页</a></div>
            </li>
            <li class="topMessage my-shangcheng">
                <div class="menu-hd MyShangcheng"><a href="#" target="_top"><i class="am-icon-user am-icon-fw"></i>个人中心</a></div>
            </li>
            <li class="topMessage mini-cart">
                <div class="menu-hd">
                    <a id="mc-menu-hd" href="#" target="_top">
                        <i class="am-icon-shopping-cart  am-icon-fw"></i>
                        <span>购物车</span><strong id="J_MiniCartNum" class="h">0</strong>
                    </a>
                </div>
            </li>
            <li class="topMessage favorite">
                <div class="menu-hd">
                    <a href="#" target="_top">
                        <i class="am-icon-heart am-icon-fw"></i>
                        <span>收藏夹</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <!--顶部导航条End -->
  
</div>
